__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.vscode/
.idea/
*.swp
runs/
*.cache
*.pt
*.pth
*.onnx
*.pickle
*.pkl
Dataset_yolov11/
Dataset2/
Test_data/
*.jpg
*.jpeg
*.png
*.mp4
*.avi
.DS_Store
*.log